<nav dir="ltr" class="navbar navbar-expand-lg navbar-dark fixed-top box-shadow align-right">
    <div class="container">
        <a class="navbar-brand" href="#">
          wayout-exercise
      </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="/networks">networks</a>
                </li>
            </ul>
        </div>
    </div>
</nav>