<h1 mat-dialog-title>{{isEditMode ? 'edit ' : 'create '}} network</h1>
<div mat-dialog-content>
  <form [formGroup]="networkForm">
    <mat-form-field>
      <mat-label>network name</mat-label>
      <input formControlName="name" matInput>
      <mat-error>Insert a valid name</mat-error>
    </mat-form-field>
    <mat-radio-group formControlName="deviceType">
      <mat-radio-button [value]="deviceTypes.Dlink">D-Link</mat-radio-button>
      <mat-radio-button [value]="deviceTypes.TPlink">TP-Link</mat-radio-button>
      <mat-radio-button [value]="deviceTypes.Netgear">Netgear</mat-radio-button>
    </mat-radio-group>
    <mat-form-field>
      <mat-label>last successful connection</mat-label>
      <input formControlName="lastSuccessfulConn" matInput>
      <mat-error>Insert a valid timestamp</mat-error>
    </mat-form-field>
  </form>
</div>
<div class="actions-container" mat-dialog-actions>
  <button mat-button mat-dialog-close>cancel</button>
  <button [disabled]="!networkForm.valid" (click)="onSubmit()" mat-raised-button
    color="primary">{{isEditMode ? 'edit' : 'create'}}</button>
</div>