.wrapper {
    margin: 11px 0px 11px 0px;
    border-radius: 3px;
    background-color: white;
}

.network-row {
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.suffix{
    display: flex;
    margin-right: 5px;
}

.header {
    display: flex;
    align-items: center;
}

.title {
    margin: 0
}

.extendable {
    width: 100%;
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.extendable-item {
    display: flex;
    margin-left: 10px;
}

.extendable-item-label {
    width: 220px;
}

.extendable-actions {
    display: flex;
    justify-content: flex-end;
}