<div class="wrapper mat-elevation-z2">
  <div (click)="onClick()" class="network-row">
    <div class="header">
      <mat-icon [@rotate] = "isExpended ? 'open' : 'close'" >arrow_right</mat-icon>
      <h2 class="title">{{network.name}}</h2>
    </div>
    <div [@fade] *ngIf="!isExpended" class="suffix">
      <mat-icon>router</mat-icon>
      <span>{{network.deviceType}}</span>
    </div>
  </div>
  <div [@fade] *ngIf="isExpended" class="extendable">
    <div class="extendable-content">
      <div class="extendable-item">
        <div class="extendable-item-label">Device type:</div>
        <div class="extendable-item-value">{{network.deviceType}}</div>
      </div>
      <div class="extendable-item">
        <div class="extendable-item-label">ID:</div>
        <div class="extendable-item-value">{{network.id}}</div>
      </div>
      <div class="extendable-item">
        <div class="extendable-item-label">Time created:</div>
        <div class="extendable-item-value">{{network.timeCreated}}</div>
      </div>
      <div class="extendable-item">
        <div class="extendable-item-label">Last Successful connection:</div>
        <div class="extendable-item-value">{{network.lastSuccessfulConn}}</div>
      </div>
    </div>

    <div class="extendable-actions">
      <button (click)="onEditClick()" mat-icon-button color="primary"><mat-icon>edit</mat-icon></button>
      <button (click)="onDeleteClick()" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
    </div>

  </div>
</div>